.text-body {
  font-size: 1.6rem;
  /*   letter-spacing: 0.06rem; */
  line-height: calc(1 + 0.8 / var(--font-body-scale));
  font-family: var(--font-body-family);
  font-style: var(--font-body-style);
  font-weight: var(--font-body-weight);
}

h1,
h2,
h3,
h4,
h5,
.h0,
.h1,
.h2,
.h3,
.h4,
.h5 {
  font-family: var(--font-heading-family);
  font-style: var(--font-heading-style);
  font-weight: var(--font-heading-weight);
  /*   letter-spacing: calc(var(--font-heading-scale) * 0.06rem); */
  color: rgb(var(--color-foreground));
  line-height: calc(1 + 0.3 / max(1, var(--font-heading-scale)));
  word-break: break-word;
}

.h0 {
  font-size: clamp(4rem, 0.0383rem + 5.787vw, calc(var(--font-heading-scale) * 7rem));
}


h1,
.h1 {
  font-size: clamp(3.6rem, -0.4132rem + 5.5556vw, calc(var(--font-heading-scale) * 6rem));
}


h2,
.h2 {
  font-size: clamp(3rem, -1.0101rem + 6.0185vw, calc(var(--font-heading-scale) * 5rem));
}


h3,
.h3 {
  font-size: clamp(2.8rem, 0.4184rem + 2.7778vw, calc(var(--font-heading-scale) * 4rem));
}


h4,
.h4 {
 
  font-size: calc(var(--font-heading-scale) * 2.6rem);
}

h5,
.h5 {
  font-size: calc(var(--font-heading-scale) * 2.2rem);
}

h6,
.h6 {
  /*   color: rgba(var(--color-foreground), 0.75); */
  margin-block-start: 1.67em;
  margin-block-end: 1.67em;
  font-size:1.8rem;
  font-weight:500;
}

blockquote {
  font-style: italic;
  color: rgba(var(--color-foreground), 0.75);
  border-left: 0.2rem solid rgba(var(--color-foreground), 0.2);
  padding-left: 1rem;
}

@media screen and (min-width: 750px) {
  blockquote {
    padding-left: 1.5rem;
  }
}

.caption {
  font-size: 1.4rem;
  /* letter-spacing: 0.07rem; */
  line-height: calc(1 + 0.7 / var(--font-body-scale));
}

@media screen and (min-width: 750px) {
  .caption {
    font-size: 1.8rem;
  }
}

.caption-with-letter-spacing {
  /* font-size: 1rem; */
  letter-spacing: 0.13rem;
  line-height: calc(1 + 0.2 / var(--font-body-scale));
  text-transform: uppercase;
  font-weight: 700;
}

.caption-with-letter-spacing--medium {
  font-size: 1.8rem;
  letter-spacing: 1rem;
  color: var(--gradient-base-accent-3);
  font-weight: 600;
  font-family: var(--font-body-family);
}

.caption-with-letter-spacing--large {
  font-size: 1.4rem;
  letter-spacing: 0.18rem;
}

.caption-large,
.customer .field input,
.customer select,
.field__input,
.form__label,
.select__select {
  font-size: 1.6rem;
  line-height: calc(1 + 0.5 / var(--font-body-scale));
  letter-spacing: 0.04rem;
  font-weight: 400;
}

table:not([class]) {
  table-layout: fixed;
  border-collapse: collapse;
  font-size: 1.4rem;
  border-style: hidden;
  box-shadow: 0 0 0 0.1rem rgba(var(--color-foreground), 0.2);
  /* draws the table border  */
}

table:not([class]) td,
table:not([class]) th {
  padding: 1em;
  border: 0.1rem solid rgba(var(--color-foreground), 0.2);
}

.title-wrapper--no-top-margin>.sub-heading {
    font-size: 1.8rem;
    font-family: var(--font-heading-family);
  line-height:normal;
}
